<a href="https://colab.research.google.com/github/Debadri3/cricketer-role-prediction/blob/master/Cricketer_age_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Import data
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Debadri3/cricketer-role-prediction/master/new%20cricket%20data.csv')

##Exploratory Data Analysis
We'll see which entries are missing and how can we replace or remove them. We'll also see the data-type of the columns

In [2]:
df[df["Name"]=="Sachin Tendulkar"]

Empty DataFrame
Columns: [Unnamed: 0, 100s, 4 Wickets in Inn, 4s, 50s, 6s, Age, Balls, Balls Faced, Balls_Average, Bat_Average, Bats(handed), Bowl_Strike_rate, Bowling_Best, Bowls(handed), DOB, Ducks, Economy_Rate, Highest Score, Innings, Maidens, Matches, Name, Not Outs, Opening Batting, Overs, Runs, Runs_Conceded, Strike Rate, Wickets]
Index: []

In [3]:
#How many values are missing per each column?
df.isna().sum()

Unnamed: 0            0
100s                  0
4 Wickets in Inn    654
4s                    0
50s                   0
6s                    0
Age                   5
Balls               329
Balls Faced           0
Balls_Average       930
Bat_Average         207
Bats(handed)         19
Bowl_Strike_rate    958
Bowling_Best        654
Bowls(handed)       419
DOB                   1
Ducks                 0
Economy_Rate        682
Highest Score         0
Innings               0
Maidens             677
Matches               0
Name                  0
Not Outs              0
Opening Batting       0
Overs               329
Runs                  0
Runs_Conceded       677
Strike Rate         155
Wickets             654
dtype: int64

In [4]:
len(df)

2493

In [5]:
#How many values are missing for each player?
df.isna().sum(axis=1)

0        2
1        0
2        1
3        0
4        0
        ..
2488     8
2489     1
2490     0
2491    11
2492    11
Length: 2493, dtype: int64

In [0]:
#We drop all players having more than 5 missing column data. They are probably not so renowned players and would not help much in our calculation.
df.drop(df[df.isnull().sum(axis=1)>5].index,axis=0,inplace=True)

In [7]:
df.isna().sum()

Unnamed: 0            0
100s                  0
4 Wickets in Inn      0
4s                    0
50s                   0
6s                    0
Age                   1
Balls                 0
Balls Faced           0
Balls_Average       275
Bat_Average         184
Bats(handed)          9
Bowl_Strike_rate    303
Bowling_Best          0
Bowls(handed)        80
DOB                   0
Ducks                 0
Economy_Rate         28
Highest Score         0
Innings               0
Maidens              28
Matches               0
Name                  0
Not Outs              0
Opening Batting       0
Overs                 0
Runs                  0
Runs_Conceded        28
Strike Rate         133
Wickets               0
dtype: int64

In [8]:
df.count()

Unnamed: 0          1838
100s                1838
4 Wickets in Inn    1838
4s                  1838
50s                 1838
6s                  1838
Age                 1837
Balls               1838
Balls Faced         1838
Balls_Average       1563
Bat_Average         1654
Bats(handed)        1829
Bowl_Strike_rate    1535
Bowling_Best        1838
Bowls(handed)       1758
DOB                 1838
Ducks               1838
Economy_Rate        1810
Highest Score       1838
Innings             1838
Maidens             1810
Matches             1838
Name                1838
Not Outs            1838
Opening Batting     1838
Overs               1838
Runs                1838
Runs_Conceded       1810
Strike Rate         1705
Wickets             1838
dtype: int64

In [9]:
df.head()

   Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0           0     0               0.0  ...           38.0          NaN        1
1           1     0               0.0  ...          122.0        69.53        4
2           2     0               0.0  ...           86.0        56.22        3
3           3     0               0.0  ...          154.0        98.96        2
4           4     0               0.0  ...          346.0        65.00       11

[5 rows x 30 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1838 entries, 0 to 2490
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1838 non-null   int64
 1   100s              1838 non-null   int64
 2   4 Wickets in Inn  1838 non-null   float64
 3   4s                1838 non-null   int64
 4   50s               1838 non-null   int64
 5   6s                1838 non-null   int64
 6   Age               1837 non-null   object
 7   Balls             1838 non-null   object
 8   Balls Faced       1838 non-null   int64
 9   Balls_Average     1563 non-null   object
 10  Bat_Average       1654 non-null   float64
 11  Bats(handed)      1829 non-null   object
 12  Bowl_Strike_rate  1535 non-null   float64
 13  Bowling_Best      1838 non-null   object
 14  Bowls(handed)     1758 non-null   object
 15  DOB               1838 non-null   object
 16  Ducks             1838 non-null   int64
 17  Economy_Rate      1810 non-null   float64
 18  Highest Score     1838 non-null   object
 19  Innings           1838 non-null   int64
 20  Maidens           1810 non-null   float64
 21  Matches           1838 non-null   object
 22  Name              1838 non-null   object
 23  Not Outs          1838 non-null   int64
 24  Opening Batting   1838 non-null   int64
 25  Overs             1838 non-null   object
 26  Runs              1838 non-null   int64
 27  Runs_Conceded     1810 non-null   float64
 28  Strike Rate       1705 non-null   float64
 29  Wickets           1838 non-null   object
dtypes: float64(7), int64(11), object(12)
memory usage: 445.1+ KB

##Data Preprocessing (Part I)
Here, we'll convert some columns to integer types after performing some interesting modifications.

In [0]:
df['Matches'] = df['Matches'].str.replace('('," ")

In [0]:
df.drop("Name",axis=1,inplace=True)
df.drop("DOB",axis=1,inplace=True)

In [13]:
df.head()

   Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0           0     0               0.0  ...           38.0          NaN        1
1           1     0               0.0  ...          122.0        69.53        4
2           2     0               0.0  ...           86.0        56.22        3
3           3     0               0.0  ...          154.0        98.96        2
4           4     0               0.0  ...          346.0        65.00       11

[5 rows x 28 columns]

In [0]:
# Time period of the player is not necessary as it may be estimated from his date of birth
df["Matches"]=df["Matches"].str.rstrip('123456789-0)').astype(int)

In [15]:
df["Matches"]

0        2
1        5
2       24
3        4
4        9
        ..
2483    13
2485    13
2487    95
2489     3
2490     5
Name: Matches, Length: 1838, dtype: int64

In [16]:
df

      Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0              0     0               0.0  ...           38.0          NaN        1
1              1     0               0.0  ...          122.0        69.53        4
2              2     0               0.0  ...           86.0        56.22        3
3              3     0               0.0  ...          154.0        98.96        2
4              4     0               0.0  ...          346.0        65.00       11
...          ...   ...               ...  ...            ...          ...      ...
2483        2483     0               1.0  ...          301.0       112.73       10
2485        2485     0               0.0  ...          504.0        80.00       11
2487        2487     0               3.0  ...         3213.0        95.81      108
2489        2489     0               0.0  ...          166.0        49.37        4
2490        2490     0               0.0  ...          246.0        87.50        4

[1838 rows x 28 columns]

In [0]:
# Whether player is unbeaten or not is inconsequential
df["Highest Score"]=df["Highest Score"].str.replace("*"," ").astype(int)

In [18]:
df

      Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0              0     0               0.0  ...           38.0          NaN        1
1              1     0               0.0  ...          122.0        69.53        4
2              2     0               0.0  ...           86.0        56.22        3
3              3     0               0.0  ...          154.0        98.96        2
4              4     0               0.0  ...          346.0        65.00       11
...          ...   ...               ...  ...            ...          ...      ...
2483        2483     0               1.0  ...          301.0       112.73       10
2485        2485     0               0.0  ...          504.0        80.00       11
2487        2487     0               3.0  ...         3213.0        95.81      108
2489        2489     0               0.0  ...          166.0        49.37        4
2490        2490     0               0.0  ...          246.0        87.50        4

[1838 rows x 28 columns]

In [0]:
df['Bowling_Best'] = df['Bowling_Best'].str.replace('/'," ")

In [0]:
# Runs conceded by the player in the match is ignored
df["Bowling_Best"]=df["Bowling_Best"].str.rstrip('1234567890').astype(float)

In [21]:
df["Bowling_Best"].value_counts()

3.0     350
4.0     329
2.0     297
1.0     283
0.0     276
5.0     208
6.0      59
7.0      11
38.0      3
27.0      2
31.0      2
14.0      2
37.0      2
24.0      1
33.0      1
36.0      1
8.0       1
19.0      1
30.0      1
15.0      1
55.0      1
22.0      1
11.0      1
12.0      1
34.0      1
40.0      1
29.0      1
Name: Bowling_Best, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1838 entries, 0 to 2490
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1838 non-null   int64
 1   100s              1838 non-null   int64
 2   4 Wickets in Inn  1838 non-null   float64
 3   4s                1838 non-null   int64
 4   50s               1838 non-null   int64
 5   6s                1838 non-null   int64
 6   Age               1837 non-null   object
 7   Balls             1838 non-null   object
 8   Balls Faced       1838 non-null   int64
 9   Balls_Average     1563 non-null   object
 10  Bat_Average       1654 non-null   float64
 11  Bats(handed)      1829 non-null   object
 12  Bowl_Strike_rate  1535 non-null   float64
 13  Bowling_Best      1838 non-null   float64
 14  Bowls(handed)     1758 non-null   object
 15  Ducks             1838 non-null   int64
 16  Economy_Rate      1810 non-null   float64
 17  Highest Score     1838 non-null   int64
 18  Innings           1838 non-null   int64
 19  Maidens           1810 non-null   float64
 20  Matches           1838 non-null   int64
 21  Not Outs          1838 non-null   int64
 22  Opening Batting   1838 non-null   int64
 23  Overs             1838 non-null   object
 24  Runs              1838 non-null   int64
 25  Runs_Conceded     1810 non-null   float64
 26  Strike Rate       1705 non-null   float64
 27  Wickets           1838 non-null   object
dtypes: float64(8), int64(13), object(7)
memory usage: 416.4+ KB

In [0]:
df["Age"]=df["Age"].astype(float)

In [24]:
df["Age"].value_counts()

34.0    66
29.0    62
31.0    60
37.0    59
30.0    55
        ..
80.0     1
9.0      1
11.0     1
79.0     1
85.0     1
Name: Age, Length: 80, dtype: int64

In [0]:
# Remove data with more than one wicket values
df1=df[~df.Wickets.str.contains("/")]

In [26]:
df1["Wickets"]=df1["Wickets"].astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1810 entries, 0 to 2490
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1810 non-null   int64
 1   100s              1810 non-null   int64
 2   4 Wickets in Inn  1810 non-null   float64
 3   4s                1810 non-null   int64
 4   50s               1810 non-null   int64
 5   6s                1810 non-null   int64
 6   Age               1809 non-null   float64
 7   Balls             1810 non-null   object
 8   Balls Faced       1810 non-null   int64
 9   Balls_Average     1535 non-null   object
 10  Bat_Average       1626 non-null   float64
 11  Bats(handed)      1801 non-null   object
 12  Bowl_Strike_rate  1535 non-null   float64
 13  Bowling_Best      1810 non-null   float64
 14  Bowls(handed)     1733 non-null   object
 15  Ducks             1810 non-null   int64
 16  Economy_Rate      1810 non-null   float64
 17  Highest Score     1810 non-null   int64
 18  Innings           1810 non-null   int64
 19  Maidens           1810 non-null   float64
 20  Matches           1810 non-null   int64
 21  Not Outs          1810 non-null   int64
 22  Opening Batting   1810 non-null   int64
 23  Overs             1810 non-null   object
 24  Runs              1810 non-null   int64
 25  Runs_Conceded     1810 non-null   float64
 26  Strike Rate       1677 non-null   float64
 27  Wickets           1810 non-null   int64
dtypes: float64(9), int64(14), object(5)
memory usage: 410.1+ KB

In [28]:
df1["Overs"]=df1["Overs"].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
df1["Balls_Average"]=df1["Balls_Average"].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1810 entries, 0 to 2490
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1810 non-null   int64
 1   100s              1810 non-null   int64
 2   4 Wickets in Inn  1810 non-null   float64
 3   4s                1810 non-null   int64
 4   50s               1810 non-null   int64
 5   6s                1810 non-null   int64
 6   Age               1809 non-null   float64
 7   Balls             1810 non-null   object
 8   Balls Faced       1810 non-null   int64
 9   Balls_Average     1535 non-null   float64
 10  Bat_Average       1626 non-null   float64
 11  Bats(handed)      1801 non-null   object
 12  Bowl_Strike_rate  1535 non-null   float64
 13  Bowling_Best      1810 non-null   float64
 14  Bowls(handed)     1733 non-null   object
 15  Ducks             1810 non-null   int64
 16  Economy_Rate      1810 non-null   float64
 17  Highest Score     1810 non-null   int64
 18  Innings           1810 non-null   int64
 19  Maidens           1810 non-null   float64
 20  Matches           1810 non-null   int64
 21  Not Outs          1810 non-null   int64
 22  Opening Batting   1810 non-null   int64
 23  Overs             1810 non-null   float64
 24  Runs              1810 non-null   int64
 25  Runs_Conceded     1810 non-null   float64
 26  Strike Rate       1677 non-null   float64
 27  Wickets           1810 non-null   int64
dtypes: float64(11), int64(14), object(3)
memory usage: 410.1+ KB

In [31]:
df1["Balls"]=df1["Balls"].astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
df1.head(20)

    Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0            0     0               0.0  ...           38.0          NaN        1
1            1     0               0.0  ...          122.0        69.53        4
2            2     0               0.0  ...           86.0        56.22        3
3            3     0               0.0  ...          154.0        98.96        2
4            4     0               0.0  ...          346.0        65.00       11
5            5     5               1.0  ...         3703.0        65.43       85
6            6     0               6.0  ...         5721.0        58.55      182
7            7     0               0.0  ...           10.0        53.41        0
8            8     0               0.0  ...          419.0        53.33       11
9            9     0               0.0  ...          255.0        46.03        3
10          10     0               2.0  ...         1051.0        60.32       34
11          11     0               0.0  ...           25.0        42.86        1
13          13     0               6.0  ...         3454.0        75.50      132
14          14     3              11.0  ...         8564.0        81.25      269
17          17     0               0.0  ...           49.0        18.75        2
18          18     0               0.0  ...          212.0          NaN        8
19          19     0               9.0  ...         6065.0          NaN      207
20          20     0               1.0  ...         1142.0        53.99       30
21          21     0               0.0  ...          187.0        70.45        7
22          22     0               0.0  ...           40.0        61.54        0

[20 rows x 28 columns]

In [33]:
df1["Age"].isna().sum()

1

In [34]:
# Filling missing age values with median
df1["Age"].fillna(df1.Age.median(),inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [35]:
df1.isna().sum()

Unnamed: 0            0
100s                  0
4 Wickets in Inn      0
4s                    0
50s                   0
6s                    0
Age                   0
Balls                 0
Balls Faced           0
Balls_Average       275
Bat_Average         184
Bats(handed)          9
Bowl_Strike_rate    275
Bowling_Best          0
Bowls(handed)        77
Ducks                 0
Economy_Rate          0
Highest Score         0
Innings               0
Maidens               0
Matches               0
Not Outs              0
Opening Batting       0
Overs                 0
Runs                  0
Runs_Conceded         0
Strike Rate         133
Wickets               0
dtype: int64

In [36]:
df1.head(20)

    Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0            0     0               0.0  ...           38.0          NaN        1
1            1     0               0.0  ...          122.0        69.53        4
2            2     0               0.0  ...           86.0        56.22        3
3            3     0               0.0  ...          154.0        98.96        2
4            4     0               0.0  ...          346.0        65.00       11
5            5     5               1.0  ...         3703.0        65.43       85
6            6     0               6.0  ...         5721.0        58.55      182
7            7     0               0.0  ...           10.0        53.41        0
8            8     0               0.0  ...          419.0        53.33       11
9            9     0               0.0  ...          255.0        46.03        3
10          10     0               2.0  ...         1051.0        60.32       34
11          11     0               0.0  ...           25.0        42.86        1
13          13     0               6.0  ...         3454.0        75.50      132
14          14     3              11.0  ...         8564.0        81.25      269
17          17     0               0.0  ...           49.0        18.75        2
18          18     0               0.0  ...          212.0          NaN        8
19          19     0               9.0  ...         6065.0          NaN      207
20          20     0               1.0  ...         1142.0        53.99       30
21          21     0               0.0  ...          187.0        70.45        7
22          22     0               0.0  ...           40.0        61.54        0

[20 rows x 28 columns]

In [37]:
df1.Bat_Average.fillna(0.0,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [38]:
df1.Balls_Average.fillna(0.0,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [39]:
df1.Bowl_Strike_rate.fillna(0.0,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [40]:
df1["Strike Rate"].fillna(0.0,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [41]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1810 entries, 0 to 2490
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1810 non-null   int64
 1   100s              1810 non-null   int64
 2   4 Wickets in Inn  1810 non-null   float64
 3   4s                1810 non-null   int64
 4   50s               1810 non-null   int64
 5   6s                1810 non-null   int64
 6   Age               1810 non-null   float64
 7   Balls             1810 non-null   int64
 8   Balls Faced       1810 non-null   int64
 9   Balls_Average     1810 non-null   float64
 10  Bat_Average       1810 non-null   float64
 11  Bats(handed)      1801 non-null   object
 12  Bowl_Strike_rate  1810 non-null   float64
 13  Bowling_Best      1810 non-null   float64
 14  Bowls(handed)     1733 non-null   object
 15  Ducks             1810 non-null   int64
 16  Economy_Rate      1810 non-null   float64
 17  Highest Score     1810 non-null   int64
 18  Innings           1810 non-null   int64
 19  Maidens           1810 non-null   float64
 20  Matches           1810 non-null   int64
 21  Not Outs          1810 non-null   int64
 22  Opening Batting   1810 non-null   int64
 23  Overs             1810 non-null   float64
 24  Runs              1810 non-null   int64
 25  Runs_Conceded     1810 non-null   float64
 26  Strike Rate       1810 non-null   float64
 27  Wickets           1810 non-null   int64
dtypes: float64(11), int64(15), object(2)
memory usage: 410.1+ KB

In [42]:
df1.isna().sum()

Unnamed: 0           0
100s                 0
4 Wickets in Inn     0
4s                   0
50s                  0
6s                   0
Age                  0
Balls                0
Balls Faced          0
Balls_Average        0
Bat_Average          0
Bats(handed)         9
Bowl_Strike_rate     0
Bowling_Best         0
Bowls(handed)       77
Ducks                0
Economy_Rate         0
Highest Score        0
Innings              0
Maidens              0
Matches              0
Not Outs             0
Opening Batting      0
Overs                0
Runs                 0
Runs_Conceded        0
Strike Rate          0
Wickets              0
dtype: int64

##Data Exploration (Part II)
Here I use get dummies function to convert objects to categorical features

In [43]:
one_hot_data = pd.concat([df1, pd.get_dummies(df1['Bats(handed)'], prefix='Batting hand')], axis=1)
one_hot_data = one_hot_data.drop('Bats(handed)', axis=1)
one_hot_data

      Unnamed: 0  100s  ...  Batting hand_Left Handed  Batting hand_Right Handed
0              0     0  ...                         0                          1
1              1     0  ...                         0                          1
2              2     0  ...                         0                          1
3              3     0  ...                         0                          1
4              4     0  ...                         0                          1
...          ...   ...  ...                       ...                        ...
2483        2483     0  ...                         0                          1
2485        2485     0  ...                         0                          1
2487        2487     0  ...                         1                          0
2489        2489     0  ...                         0                          1
2490        2490     0  ...                         0                          1

[1810 rows x 29 columns]

In [44]:
one_hot_data2 = pd.concat([one_hot_data, pd.get_dummies(df1['Bowls(handed)'], prefix='Bowling hand')], axis=1)
one_hot_data2 = one_hot_data2.drop('Bowls(handed)', axis=1)
one_hot_data2

      Unnamed: 0  ...  Bowling hand_Right Arm Off Break/Right Arm Medium
0              0  ...                                                  0
1              1  ...                                                  0
2              2  ...                                                  0
3              3  ...                                                  0
4              4  ...                                                  0
...          ...  ...                                                ...
2483        2483  ...                                                  0
2485        2485  ...                                                  0
2487        2487  ...                                                  0
2489        2489  ...                                                  0
2490        2490  ...                                                  0

[1810 rows x 43 columns]

In [45]:
one_hot_data2["Age"].max()

86.0

In [46]:
#Now I'll use MinMaxScaler on the data
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(one_hot_data2)
new_data=scaler.transform(one_hot_data2)
processed_data=pd.DataFrame(new_data,columns=one_hot_data2.columns)
processed_data

      Unnamed: 0  ...  Bowling hand_Right Arm Off Break/Right Arm Medium
0       0.000000  ...                                                0.0
1       0.000402  ...                                                0.0
2       0.000803  ...                                                0.0
3       0.001205  ...                                                0.0
4       0.001606  ...                                                0.0
...          ...  ...                                                ...
1805    0.997189  ...                                                0.0
1806    0.997992  ...                                                0.0
1807    0.998795  ...                                                0.0
1808    0.999598  ...                                                0.0
1809    1.000000  ...                                                0.0

[1810 rows x 43 columns]

In [47]:
processed_data["Age"]

0       0.741176
1       0.541176
2       0.647059
3       0.317647
4       0.552941
          ...
1805    0.364706
1806    0.411765
1807    0.458824
1808    0.458824
1809    0.458824
Name: Age, Length: 1810, dtype: float64

In [0]:
processed_data["Age"]=(processed_data["Age"]*85)+1

In [49]:
processed_data

      Unnamed: 0  ...  Bowling hand_Right Arm Off Break/Right Arm Medium
0       0.000000  ...                                                0.0
1       0.000402  ...                                                0.0
2       0.000803  ...                                                0.0
3       0.001205  ...                                                0.0
4       0.001606  ...                                                0.0
...          ...  ...                                                ...
1805    0.997189  ...                                                0.0
1806    0.997992  ...                                                0.0
1807    0.998795  ...                                                0.0
1808    0.999598  ...                                                0.0
1809    1.000000  ...                                                0.0

[1810 rows x 43 columns]

In [0]:
from sklearn.model_selection import train_test_split
X=processed_data.drop("Age",axis=1)
y=processed_data["Age"]
X_train, y_train, X_valid, y_valid=train_test_split(X,y,test_size=0.2)

In [51]:

import numpy
import pandas
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from keras.utils import np_utils
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix
import itertools
import tensorflow as tf

Using TensorFlow backend.

In [52]:
import numpy as np
sample = np.random.choice(processed_data.index, size=int(len(processed_data)*0.8), replace=False)
train_data, test_data = processed_data.loc[sample], processed_data.drop(sample)

print("Number of training samples is", len(train_data))
print("Number of testing samples is", len(test_data))
print(train_data[:10])
print(test_data[:10])

Number of training samples is 1448
Number of testing samples is 362
      Unnamed: 0  ...  Bowling hand_Right Arm Off Break/Right Arm Medium
1446    0.807631  ...                                                0.0
882     0.490361  ...                                                0.0
853     0.472289  ...                                                0.0
1108    0.616466  ...                                                0.0
913     0.504819  ...                                                0.0
1466    0.817269  ...                                                0.0
1121    0.622490  ...                                                0.0
1513    0.840964  ...                                                0.0
247     0.132530  ...                                                0.0
1539    0.854618  ...                                                0.0

[10 rows x 43 columns]
    Unnamed: 0  ...  Bowling hand_Right Arm Off Break/Right Arm Medium
2     0.000803  ...                                                0.0
5     0.002008  ...                                                0.0
9     0.003614  ...                                                0.0
11    0.004418  ...                                                0.0
12    0.005221  ...                                                0.0
14    0.006827  ...                                                0.0
19    0.008835  ...                                                0.0
23    0.010843  ...                                                0.0
32    0.015663  ...                                                0.0
33    0.016064  ...                                                0.0

[10 rows x 43 columns]

In [0]:
features = train_data.drop('Age', axis=1)
features=np.array(features.drop("Unnamed: 0",axis=1))
targets=np.array(train_data['Age'])

In [54]:
features.shape

(1448, 41)

In [0]:
features_test = test_data.drop('Age', axis=1)
features_test=np.array(features_test.drop("Unnamed: 0",axis=1))
targets_test=np.array(test_data['Age'])

In [56]:
features_test.shape

(362, 41)

In [57]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(128, kernel_initializer='normal',input_dim = features.shape[1], activation='relu'))
early_stopping = tf.keras.callbacks.EarlyStopping(monitor="mean_absolute_error",
                                                  patience=3)

# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dropout(0.2))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))




# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 128)               5376
_________________________________________________________________
dense_2 (Dense)              (None, 256)               33024
_________________________________________________________________
dropout_1 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_3 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_4 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_5 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 257
=================================================================
Total params: 236,033
Trainable params: 236,033
Non-trainable params: 0
_________________________________________________________________

In [58]:
NN_model.fit(features, targets, epochs=500, batch_size=32, validation_split = 0.2,callbacks=[early_stopping])

Train on 1158 samples, validate on 290 samples
Epoch 1/500
1158/1158 [==============================] - 0s 385us/step - loss: 27.8247 - mean_absolute_error: 27.8247 - val_loss: 11.9327 - val_mean_absolute_error: 11.9327
Epoch 2/500
1158/1158 [==============================] - 0s 187us/step - loss: 12.0795 - mean_absolute_error: 12.0795 - val_loss: 10.5977 - val_mean_absolute_error: 10.5977
Epoch 3/500
1158/1158 [==============================] - 0s 185us/step - loss: 11.8330 - mean_absolute_error: 11.8330 - val_loss: 11.7496 - val_mean_absolute_error: 11.7496
Epoch 4/500
1158/1158 [==============================] - 0s 212us/step - loss: 11.8504 - mean_absolute_error: 11.8504 - val_loss: 10.3068 - val_mean_absolute_error: 10.3068
Epoch 5/500
1158/1158 [==============================] - 0s 187us/step - loss: 11.1872 - mean_absolute_error: 11.1872 - val_loss: 10.4058 - val_mean_absolute_error: 10.4058
Epoch 6/500
1158/1158 [==============================] - 0s 189us/step - loss: 10.9717 - mean_absolute_error: 10.9717 - val_loss: 10.0745 - val_mean_absolute_error: 10.0745
Epoch 7/500
1158/1158 [==============================] - 0s 194us/step - loss: 10.8817 - mean_absolute_error: 10.8817 - val_loss: 10.4707 - val_mean_absolute_error: 10.4707
Epoch 8/500
1158/1158 [==============================] - 0s 187us/step - loss: 10.7258 - mean_absolute_error: 10.7258 - val_loss: 10.5236 - val_mean_absolute_error: 10.5236
Epoch 9/500
1158/1158 [==============================] - 0s 186us/step - loss: 10.9931 - mean_absolute_error: 10.9931 - val_loss: 9.7967 - val_mean_absolute_error: 9.7967
Epoch 10/500
1158/1158 [==============================] - 0s 173us/step - loss: 10.7622 - mean_absolute_error: 10.7622 - val_loss: 9.6671 - val_mean_absolute_error: 9.6671
Epoch 11/500
1158/1158 [==============================] - 0s 170us/step - loss: 10.6657 - mean_absolute_error: 10.6657 - val_loss: 9.5945 - val_mean_absolute_error: 9.5945
Epoch 12/500
1158/1158 [==============================] - 0s 192us/step - loss: 10.4902 - mean_absolute_error: 10.4902 - val_loss: 9.5365 - val_mean_absolute_error: 9.5365
Epoch 13/500
1158/1158 [==============================] - 0s 185us/step - loss: 10.4520 - mean_absolute_error: 10.4520 - val_loss: 9.7090 - val_mean_absolute_error: 9.7090
Epoch 14/500
1158/1158 [==============================] - 0s 204us/step - loss: 10.4008 - mean_absolute_error: 10.4008 - val_loss: 11.4232 - val_mean_absolute_error: 11.4232
Epoch 15/500
1158/1158 [==============================] - 0s 169us/step - loss: 10.4253 - mean_absolute_error: 10.4253 - val_loss: 9.7071 - val_mean_absolute_error: 9.7071
Epoch 16/500
1158/1158 [==============================] - 0s 189us/step - loss: 10.0249 - mean_absolute_error: 10.0249 - val_loss: 9.4113 - val_mean_absolute_error: 9.4113
Epoch 17/500
1158/1158 [==============================] - 0s 177us/step - loss: 9.9485 - mean_absolute_error: 9.9485 - val_loss: 9.3788 - val_mean_absolute_error: 9.3788
Epoch 18/500
1158/1158 [==============================] - 0s 198us/step - loss: 9.6358 - mean_absolute_error: 9.6358 - val_loss: 9.2991 - val_mean_absolute_error: 9.2991
Epoch 19/500
1158/1158 [==============================] - 0s 198us/step - loss: 9.7673 - mean_absolute_error: 9.7673 - val_loss: 9.3036 - val_mean_absolute_error: 9.3036
Epoch 20/500
1158/1158 [==============================] - 0s 196us/step - loss: 9.7156 - mean_absolute_error: 9.7156 - val_loss: 9.2666 - val_mean_absolute_error: 9.2666
Epoch 21/500
1158/1158 [==============================] - 0s 197us/step - loss: 9.5794 - mean_absolute_error: 9.5794 - val_loss: 9.4315 - val_mean_absolute_error: 9.4315
Epoch 22/500
1158/1158 [==============================] - 0s 189us/step - loss: 9.5018 - mean_absolute_error: 9.5018 - val_loss: 9.7381 - val_mean_absolute_error: 9.7381
Epoch 23/500
1158/1158 [==============================] - 0s 181us/step - loss: 9.6600 - mean_absolute_error: 9.6600 - val_loss: 9.7497 - val_mean_absolute_error: 9.7497
Epoch 24/500
1158/1158 [==============================] - 0s 186us/step - loss: 9.9773 - mean_absolute_error: 9.9773 - val_loss: 9.1503 - val_mean_absolute_error: 9.1503
Epoch 25/500
1158/1158 [==============================] - 0s 183us/step - loss: 9.3872 - mean_absolute_error: 9.3872 - val_loss: 9.6270 - val_mean_absolute_error: 9.6270
Epoch 26/500
1158/1158 [==============================] - 0s 176us/step - loss: 9.2421 - mean_absolute_error: 9.2421 - val_loss: 9.5809 - val_mean_absolute_error: 9.5809
Epoch 27/500
1158/1158 [==============================] - 0s 190us/step - loss: 9.7076 - mean_absolute_error: 9.7076 - val_loss: 9.2002 - val_mean_absolute_error: 9.2002
Epoch 28/500
1158/1158 [==============================] - 0s 191us/step - loss: 9.3696 - mean_absolute_error: 9.3696 - val_loss: 9.2243 - val_mean_absolute_error: 9.2243
Epoch 29/500
1158/1158 [==============================] - 0s 181us/step - loss: 9.4859 - mean_absolute_error: 9.4859 - val_loss: 9.7720 - val_mean_absolute_error: 9.7720

In [59]:
# Evaluating the model on the training and testing set
score = NN_model.evaluate(features, targets)
print("\n Training Mean Absolute Error:", score[1])
score = NN_model.evaluate(features_test, targets_test)
print("\n Testing Mean Absolute Error:", score[1])

1448/1448 [==============================] - 0s 41us/step

 Training Mean Absolute Error: 9.559292793273926
362/362 [==============================] - 0s 51us/step

 Testing Mean Absolute Error: 9.773233413696289

#Hence, my model can predict age of cricketer with a Mean Absolute Error of 10 years which surpasses human ability

In [60]:
len(NN_model.predict(features_test))

362

In [61]:
len(targets_test)

362

In [62]:
NN_model.predict(features_test)

array([[40.9785  ],
       [47.412   ],
       [41.922085],
       [41.57533 ],
       [33.132725],
       [46.29749 ],
       [36.18955 ],
       [42.016   ],
       [35.58225 ],
       [38.51224 ],
       [27.823492],
       [46.788525],
       [32.298054],
       [26.60311 ],
       [49.152424],
       [35.3958  ],
       [35.919754],
       [27.346615],
       [30.111809],
       [28.067516],
       [42.593327],
       [32.297413],
       [35.745457],
       [45.51256 ],
       [41.050762],
       [31.857136],
       [40.4788  ],
       [36.579967],
       [33.572765],
       [48.786358],
       [33.801792],
       [29.900223],
       [34.827763],
       [31.284533],
       [46.890247],
       [52.70329 ],
       [30.59591 ],
       [35.255226],
       [40.966854],
       [42.51842 ],
       [41.059254],
       [46.059193],
       [48.16881 ],
       [42.179623],
       [36.182575],
       [38.258366],
       [39.896854],
       [37.1749  ],
       [28.923038],
       [48.568302],
       [50.45924 ],
       [28.769184],
       [32.29979 ],
       [37.7207  ],
       [31.857841],
       [40.189445],
       [37.040607],
       [24.278767],
       [44.190952],
       [35.587395],
       [45.809677],
       [43.03707 ],
       [29.29028 ],
       [33.136536],
       [31.53227 ],
       [49.032795],
       [44.37258 ],
       [29.837473],
       [55.185497],
       [40.28023 ],
       [58.171474],
       [34.632942],
       [31.657404],
       [32.48402 ],
       [43.285236],
       [41.86379 ],
       [25.60574 ],
       [36.28319 ],
       [33.867603],
       [44.428417],
       [37.854015],
       [35.212574],
       [36.02406 ],
       [38.74447 ],
       [39.96846 ],
       [36.97777 ],
       [40.091324],
       [39.463802],
       [43.1937  ],
       [41.497593],
       [41.30097 ],
       [30.235601],
       [38.845295],
       [39.276413],
       [59.141464],
       [26.96563 ],
       [30.955063],
       [48.245266],
       [28.98122 ],
       [40.929146],
       [49.341507],
       [34.860416],
       [34.417294],
       [34.25643 ],
       [39.051243],
       [63.21209 ],
       [35.381847],
       [38.373383],
       [31.375675],
       [45.904438],
       [39.151775],
       [32.02703 ],
       [46.474117],
       [35.697536],
       [40.56865 ],
       [41.333378],
       [38.491413],
       [27.101475],
       [39.76524 ],
       [30.336502],
       [27.66919 ],
       [27.174358],
       [39.084675],
       [43.30451 ],
       [38.215298],
       [29.140915],
       [35.478065],
       [50.283672],
       [41.231907],
       [43.397625],
       [53.26692 ],
       [30.336334],
       [30.625977],
       [29.61532 ],
       [39.735435],
       [32.809597],
       [32.152157],
       [30.988335],
       [41.640293],
       [38.453476],
       [41.74163 ],
       [38.189404],
       [34.053833],
       [34.47696 ],
       [35.410854],
       [41.32678 ],
       [40.00759 ],
       [39.82786 ],
       [54.65324 ],
       [28.614658],
       [35.972935],
       [47.659473],
       [42.4106  ],
       [39.21653 ],
       [35.710865],
       [38.052174],
       [31.508713],
       [28.012932],
       [38.76169 ],
       [36.245304],
       [51.251194],
       [39.52538 ],
       [36.211765],
       [41.584835],
       [30.484211],
       [30.979828],
       [43.080986],
       [27.815521],
       [37.712368],
       [25.068512],
       [31.078861],
       [30.452839],
       [32.186356],
       [32.076553],
       [58.13365 ],
       [35.54456 ],
       [40.46648 ],
       [32.315464],
       [32.26076 ],
       [31.125156],
       [31.04647 ],
       [27.438622],
       [39.168934],
       [29.670128],
       [36.9242  ],
       [44.19076 ],
       [34.133305],
       [36.05005 ],
       [37.488422],
       [51.52898 ],
       [43.740734],
       [30.452908],
       [26.174833],
       [33.279095],
       [43.274967],
       [45.222507],
       [35.740826],
       [34.71336 ],
       [38.79673 ],
       [44.44598 ],
       [31.421267],
       [33.86308 ],
       [40.96475 ],
       [28.746346],
       [43.207684],
       [32.963066],
       [33.96088 ],
       [30.51345 ],
       [31.269478],
       [46.903015],
       [37.6078  ],
       [38.905155],
       [42.392624],
       [33.437626],
       [28.617214],
       [48.904087],
       [41.83576 ],
       [36.233074],
       [48.705692],
       [45.552036],
       [34.51186 ],
       [27.773746],
       [36.89257 ],
       [31.81635 ],
       [45.446884],
       [36.01523 ],
       [40.028435],
       [36.081104],
       [33.040596],
       [34.67632 ],
       [34.944237],
       [38.226437],
       [41.157475],
       [39.616398],
       [37.69376 ],
       [35.59106 ],
       [41.888165],
       [25.217628],
       [35.639683],
       [44.718548],
       [23.72915 ],
       [31.68005 ],
       [36.725063],
       [39.174274],
       [42.247555],
       [32.63576 ],
       [53.122486],
       [32.646526],
       [29.387623],
       [39.72466 ],
       [35.1262  ],
       [53.123585],
       [29.360645],
       [37.261074],
       [31.979439],
       [44.80824 ],
       [23.806564],
       [28.360529],
       [37.5779  ],
       [42.076496],
       [38.782795],
       [37.870358],
       [30.471264],
       [39.323692],
       [34.802185],
       [38.66241 ],
       [23.027987],
       [29.71065 ],
       [41.640602],
       [50.885822],
       [24.414047],
       [34.09421 ],
       [34.538853],
       [31.566479],
       [46.827076],
       [42.251934],
       [45.304173],
       [37.652058],
       [36.930904],
       [32.45805 ],
       [49.776844],
       [30.006828],
       [29.600471],
       [37.994743],
       [31.200275],
       [34.468555],
       [36.638546],
       [30.737411],
       [31.981394],
       [33.734737],
       [36.116154],
       [44.43478 ],
       [39.858776],
       [37.848713],
       [32.7006  ],
       [32.682167],
       [40.093815],
       [25.089893],
       [40.870945],
       [30.1914  ],
       [55.26755 ],
       [37.77155 ],
       [35.37808 ],
       [34.390358],
       [35.301456],
       [34.224163],
       [26.31872 ],
       [26.740788],
       [37.78556 ],
       [39.237698],
       [44.52596 ],
       [39.175293],
       [25.522835],
       [39.214108],
       [39.048477],
       [33.108913],
       [37.251198],
       [22.263329],
       [52.03552 ],
       [35.46654 ],
       [35.243824],
       [39.535652],
       [36.97777 ],
       [34.352222],
       [33.476406],
       [31.895191],
       [34.697872],
       [35.97736 ],
       [32.24874 ],
       [40.88249 ],
       [44.09048 ],
       [37.737526],
       [40.20563 ],
       [42.723804],
       [29.860622],
       [42.402027],
       [33.264065],
       [43.1561  ],
       [38.757305],
       [40.43468 ],
       [42.432304],
       [28.757435],
       [43.04968 ],
       [42.90694 ],
       [37.996   ],
       [43.31487 ],
       [39.425114],
       [41.11157 ],
       [55.134987],
       [36.634468],
       [38.91145 ],
       [41.97922 ],
       [37.791603],
       [30.710073],
       [47.36932 ],
       [48.095688],
       [36.193295],
       [29.75597 ],
       [40.29822 ],
       [41.89641 ],
       [28.15506 ],
       [42.049145]], dtype=float32)

In [63]:
targets_test

array([56., 52., 38., 27., 63., 31., 50., 51., 58., 59., 39., 54., 47.,
       29., 68., 38., 36., 48., 31., 26., 47., 33., 31., 39., 43., 34.,
       54., 61., 40., 43., 30., 33., 37., 35., 36., 62., 31., 43., 35.,
       43., 67., 63., 71., 43., 36., 28., 52., 54., 34., 27., 61., 32.,
       58., 44., 48., 46., 56., 38., 70., 30., 72., 65., 29., 31., 32.,
       60., 34., 29., 50., 44., 59., 29., 32., 56., 38., 63., 21., 44.,
       26., 55., 36., 49., 24., 49., 37., 63., 39., 33., 54., 32., 46.,
       30., 39., 38., 39., 27., 56., 45., 41., 75., 40., 38., 30., 37.,
       30., 84., 39., 48., 40., 64., 67., 45., 46., 31., 34., 28., 49.,
       27., 40., 50., 30., 27., 17., 27., 48., 42., 53., 35., 44., 36.,
       40., 68., 47., 31., 56., 34., 48., 30., 45., 42., 62., 27., 59.,
       45., 32., 23., 65., 36., 61., 28., 45., 74., 71., 39., 31., 34.,
       26., 37., 36., 39., 62., 16.,  1., 61., 56., 27., 44., 32., 25.,
       30., 26., 38., 38., 36., 77., 42., 31., 36., 34., 24., 22., 39.,
       33., 42., 53., 71., 23., 33., 28., 47., 47., 23., 31., 42., 37.,
       39., 48., 22., 31., 66., 46., 32., 47., 26., 42., 25., 31., 39.,
       28., 31., 35., 39., 29., 40., 42., 59., 71., 40., 74., 39., 46.,
       25., 33., 29., 33., 30., 57., 38., 33., 54., 34., 37., 29., 54.,
       41., 50., 22., 31., 40., 55.,  4., 33., 40., 34., 20., 31., 61.,
       34., 20., 42., 28., 49., 66., 56., 36., 41., 44., 28., 28., 50.,
       49., 55., 54., 51., 42., 37., 65., 35., 38., 25., 44., 27., 40.,
       42., 39., 70., 78., 46., 31., 34., 42., 20., 29., 23., 40., 39.,
       31., 27., 43., 54., 30., 56., 57., 32., 40., 33., 53., 27., 51.,
       24., 77., 27., 52., 42., 35., 43., 37., 29., 60., 57., 72., 34.,
       41., 36., 27., 36., 46., 23., 64., 54., 45., 58., 23., 37., 34.,
       31., 29., 22., 31., 33., 31., 34., 49., 57., 29., 39., 34., 50.,
       54., 42., 41., 44., 62., 45., 54., 51., 32., 44., 76., 27., 44.,
       44., 41., 32., 60., 46., 71., 33., 44., 55., 34., 40.])

The R2_score of my model may be less due to the large number of features which may affect correlation