<a href="https://colab.research.google.com/github/Debadri3/cricketer-age-prediction/blob/master/Cricket_linear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Import data
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/Debadri3/cricketer-role-prediction/master/new%20cricket%20data.csv')

##Exploratory Data Analysis
We'll see which entries are missing and how can we replace or remove them. We'll also see the data-type of the columns

In [2]:
df[df["Name"]=="Sachin Tendulkar"]

Empty DataFrame
Columns: [Unnamed: 0, 100s, 4 Wickets in Inn, 4s, 50s, 6s, Age, Balls, Balls Faced, Balls_Average, Bat_Average, Bats(handed), Bowl_Strike_rate, Bowling_Best, Bowls(handed), DOB, Ducks, Economy_Rate, Highest Score, Innings, Maidens, Matches, Name, Not Outs, Opening Batting, Overs, Runs, Runs_Conceded, Strike Rate, Wickets]
Index: []

In [3]:
#How many values are missing per each column?
df.isna().sum()

Unnamed: 0            0
100s                  0
4 Wickets in Inn    654
4s                    0
50s                   0
6s                    0
Age                   5
Balls               329
Balls Faced           0
Balls_Average       930
Bat_Average         207
Bats(handed)         19
Bowl_Strike_rate    958
Bowling_Best        654
Bowls(handed)       419
DOB                   1
Ducks                 0
Economy_Rate        682
Highest Score         0
Innings               0
Maidens             677
Matches               0
Name                  0
Not Outs              0
Opening Batting       0
Overs               329
Runs                  0
Runs_Conceded       677
Strike Rate         155
Wickets             654
dtype: int64

In [4]:
len(df)

2493

In [5]:
#How many values are missing for each player?
df.isna().sum(axis=1)

0        2
1        0
2        1
3        0
4        0
        ..
2488     8
2489     1
2490     0
2491    11
2492    11
Length: 2493, dtype: int64

In [0]:
#We drop all players having more than 5 missing column data. They are probably not so renowned players and would not help much in our calculation.
df.drop(df[df.isnull().sum(axis=1)>5].index,axis=0,inplace=True)

In [7]:
df.isna().sum()

Unnamed: 0            0
100s                  0
4 Wickets in Inn      0
4s                    0
50s                   0
6s                    0
Age                   1
Balls                 0
Balls Faced           0
Balls_Average       275
Bat_Average         184
Bats(handed)          9
Bowl_Strike_rate    303
Bowling_Best          0
Bowls(handed)        80
DOB                   0
Ducks                 0
Economy_Rate         28
Highest Score         0
Innings               0
Maidens              28
Matches               0
Name                  0
Not Outs              0
Opening Batting       0
Overs                 0
Runs                  0
Runs_Conceded        28
Strike Rate         133
Wickets               0
dtype: int64

In [8]:
df.count()

Unnamed: 0          1838
100s                1838
4 Wickets in Inn    1838
4s                  1838
50s                 1838
6s                  1838
Age                 1837
Balls               1838
Balls Faced         1838
Balls_Average       1563
Bat_Average         1654
Bats(handed)        1829
Bowl_Strike_rate    1535
Bowling_Best        1838
Bowls(handed)       1758
DOB                 1838
Ducks               1838
Economy_Rate        1810
Highest Score       1838
Innings             1838
Maidens             1810
Matches             1838
Name                1838
Not Outs            1838
Opening Batting     1838
Overs               1838
Runs                1838
Runs_Conceded       1810
Strike Rate         1705
Wickets             1838
dtype: int64

In [9]:
df.head()

   Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0           0     0               0.0  ...           38.0          NaN        1
1           1     0               0.0  ...          122.0        69.53        4
2           2     0               0.0  ...           86.0        56.22        3
3           3     0               0.0  ...          154.0        98.96        2
4           4     0               0.0  ...          346.0        65.00       11

[5 rows x 30 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1838 entries, 0 to 2490
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1838 non-null   int64
 1   100s              1838 non-null   int64
 2   4 Wickets in Inn  1838 non-null   float64
 3   4s                1838 non-null   int64
 4   50s               1838 non-null   int64
 5   6s                1838 non-null   int64
 6   Age               1837 non-null   object
 7   Balls             1838 non-null   object
 8   Balls Faced       1838 non-null   int64
 9   Balls_Average     1563 non-null   object
 10  Bat_Average       1654 non-null   float64
 11  Bats(handed)      1829 non-null   object
 12  Bowl_Strike_rate  1535 non-null   float64
 13  Bowling_Best      1838 non-null   object
 14  Bowls(handed)     1758 non-null   object
 15  DOB               1838 non-null   object
 16  Ducks             1838 non-null   int64
 17  Economy_Rate      1810 non-null   float64
 18  Highest Score     1838 non-null   object
 19  Innings           1838 non-null   int64
 20  Maidens           1810 non-null   float64
 21  Matches           1838 non-null   object
 22  Name              1838 non-null   object
 23  Not Outs          1838 non-null   int64
 24  Opening Batting   1838 non-null   int64
 25  Overs             1838 non-null   object
 26  Runs              1838 non-null   int64
 27  Runs_Conceded     1810 non-null   float64
 28  Strike Rate       1705 non-null   float64
 29  Wickets           1838 non-null   object
dtypes: float64(7), int64(11), object(12)
memory usage: 445.1+ KB

##Data Preprocessing (Part I)
Here, we'll convert some columns to integer types after performing some interesting modifications.

In [0]:
df['Matches'] = df['Matches'].str.replace('('," ")

In [0]:
df.drop("Name",axis=1,inplace=True)
df.drop("DOB",axis=1,inplace=True)

In [13]:
df.head()

   Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0           0     0               0.0  ...           38.0          NaN        1
1           1     0               0.0  ...          122.0        69.53        4
2           2     0               0.0  ...           86.0        56.22        3
3           3     0               0.0  ...          154.0        98.96        2
4           4     0               0.0  ...          346.0        65.00       11

[5 rows x 28 columns]

In [0]:
# Time period of the player is not necessary as it may be estimated from his date of birth
df["Matches"]=df["Matches"].str.rstrip('123456789-0)').astype(int)

In [15]:
df["Matches"]

0        2
1        5
2       24
3        4
4        9
        ..
2483    13
2485    13
2487    95
2489     3
2490     5
Name: Matches, Length: 1838, dtype: int64

In [16]:
df

      Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0              0     0               0.0  ...           38.0          NaN        1
1              1     0               0.0  ...          122.0        69.53        4
2              2     0               0.0  ...           86.0        56.22        3
3              3     0               0.0  ...          154.0        98.96        2
4              4     0               0.0  ...          346.0        65.00       11
...          ...   ...               ...  ...            ...          ...      ...
2483        2483     0               1.0  ...          301.0       112.73       10
2485        2485     0               0.0  ...          504.0        80.00       11
2487        2487     0               3.0  ...         3213.0        95.81      108
2489        2489     0               0.0  ...          166.0        49.37        4
2490        2490     0               0.0  ...          246.0        87.50        4

[1838 rows x 28 columns]

In [0]:
# Whether player is unbeaten or not is inconsequential
df["Highest Score"]=df["Highest Score"].str.replace("*"," ").astype(int)

In [18]:
df

      Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0              0     0               0.0  ...           38.0          NaN        1
1              1     0               0.0  ...          122.0        69.53        4
2              2     0               0.0  ...           86.0        56.22        3
3              3     0               0.0  ...          154.0        98.96        2
4              4     0               0.0  ...          346.0        65.00       11
...          ...   ...               ...  ...            ...          ...      ...
2483        2483     0               1.0  ...          301.0       112.73       10
2485        2485     0               0.0  ...          504.0        80.00       11
2487        2487     0               3.0  ...         3213.0        95.81      108
2489        2489     0               0.0  ...          166.0        49.37        4
2490        2490     0               0.0  ...          246.0        87.50        4

[1838 rows x 28 columns]

In [0]:
df['Bowling_Best'] = df['Bowling_Best'].str.replace('/'," ")

In [0]:
# Runs conceded by the player in the match is ignored
df["Bowling_Best"]=df["Bowling_Best"].str.rstrip('1234567890').astype(float)

In [21]:
df["Bowling_Best"].value_counts()

3.0     350
4.0     329
2.0     297
1.0     283
0.0     276
5.0     208
6.0      59
7.0      11
38.0      3
27.0      2
31.0      2
14.0      2
37.0      2
24.0      1
33.0      1
36.0      1
8.0       1
19.0      1
30.0      1
15.0      1
55.0      1
22.0      1
11.0      1
12.0      1
34.0      1
40.0      1
29.0      1
Name: Bowling_Best, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1838 entries, 0 to 2490
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1838 non-null   int64
 1   100s              1838 non-null   int64
 2   4 Wickets in Inn  1838 non-null   float64
 3   4s                1838 non-null   int64
 4   50s               1838 non-null   int64
 5   6s                1838 non-null   int64
 6   Age               1837 non-null   object
 7   Balls             1838 non-null   object
 8   Balls Faced       1838 non-null   int64
 9   Balls_Average     1563 non-null   object
 10  Bat_Average       1654 non-null   float64
 11  Bats(handed)      1829 non-null   object
 12  Bowl_Strike_rate  1535 non-null   float64
 13  Bowling_Best      1838 non-null   float64
 14  Bowls(handed)     1758 non-null   object
 15  Ducks             1838 non-null   int64
 16  Economy_Rate      1810 non-null   float64
 17  Highest Score     1838 non-null   int64
 18  Innings           1838 non-null   int64
 19  Maidens           1810 non-null   float64
 20  Matches           1838 non-null   int64
 21  Not Outs          1838 non-null   int64
 22  Opening Batting   1838 non-null   int64
 23  Overs             1838 non-null   object
 24  Runs              1838 non-null   int64
 25  Runs_Conceded     1810 non-null   float64
 26  Strike Rate       1705 non-null   float64
 27  Wickets           1838 non-null   object
dtypes: float64(8), int64(13), object(7)
memory usage: 416.4+ KB

In [0]:
df["Age"]=df["Age"].astype(float)

In [24]:
df["Age"].value_counts()

34.0    66
29.0    62
31.0    60
37.0    59
30.0    55
        ..
80.0     1
9.0      1
11.0     1
79.0     1
85.0     1
Name: Age, Length: 80, dtype: int64

In [0]:
# Remove data with more than one wicket values
df1=df[~df.Wickets.str.contains("/")]

In [26]:
df1["Wickets"]=df1["Wickets"].astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [27]:

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1810 entries, 0 to 2490
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1810 non-null   int64
 1   100s              1810 non-null   int64
 2   4 Wickets in Inn  1810 non-null   float64
 3   4s                1810 non-null   int64
 4   50s               1810 non-null   int64
 5   6s                1810 non-null   int64
 6   Age               1809 non-null   float64
 7   Balls             1810 non-null   object
 8   Balls Faced       1810 non-null   int64
 9   Balls_Average     1535 non-null   object
 10  Bat_Average       1626 non-null   float64
 11  Bats(handed)      1801 non-null   object
 12  Bowl_Strike_rate  1535 non-null   float64
 13  Bowling_Best      1810 non-null   float64
 14  Bowls(handed)     1733 non-null   object
 15  Ducks             1810 non-null   int64
 16  Economy_Rate      1810 non-null   float64
 17  Highest Score     1810 non-null   int64
 18  Innings           1810 non-null   int64
 19  Maidens           1810 non-null   float64
 20  Matches           1810 non-null   int64
 21  Not Outs          1810 non-null   int64
 22  Opening Batting   1810 non-null   int64
 23  Overs             1810 non-null   object
 24  Runs              1810 non-null   int64
 25  Runs_Conceded     1810 non-null   float64
 26  Strike Rate       1677 non-null   float64
 27  Wickets           1810 non-null   int64
dtypes: float64(9), int64(14), object(5)
memory usage: 410.1+ KB

In [28]:
df1["Overs"]=df1["Overs"].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
df1["Balls_Average"]=df1["Balls_Average"].astype(float)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1810 entries, 0 to 2490
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1810 non-null   int64
 1   100s              1810 non-null   int64
 2   4 Wickets in Inn  1810 non-null   float64
 3   4s                1810 non-null   int64
 4   50s               1810 non-null   int64
 5   6s                1810 non-null   int64
 6   Age               1809 non-null   float64
 7   Balls             1810 non-null   object
 8   Balls Faced       1810 non-null   int64
 9   Balls_Average     1535 non-null   float64
 10  Bat_Average       1626 non-null   float64
 11  Bats(handed)      1801 non-null   object
 12  Bowl_Strike_rate  1535 non-null   float64
 13  Bowling_Best      1810 non-null   float64
 14  Bowls(handed)     1733 non-null   object
 15  Ducks             1810 non-null   int64
 16  Economy_Rate      1810 non-null   float64
 17  Highest Score     1810 non-null   int64
 18  Innings           1810 non-null   int64
 19  Maidens           1810 non-null   float64
 20  Matches           1810 non-null   int64
 21  Not Outs          1810 non-null   int64
 22  Opening Batting   1810 non-null   int64
 23  Overs             1810 non-null   float64
 24  Runs              1810 non-null   int64
 25  Runs_Conceded     1810 non-null   float64
 26  Strike Rate       1677 non-null   float64
 27  Wickets           1810 non-null   int64
dtypes: float64(11), int64(14), object(3)
memory usage: 410.1+ KB

In [31]:
df1["Balls"]=df1["Balls"].astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
df1.head(20)

    Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0            0     0               0.0  ...           38.0          NaN        1
1            1     0               0.0  ...          122.0        69.53        4
2            2     0               0.0  ...           86.0        56.22        3
3            3     0               0.0  ...          154.0        98.96        2
4            4     0               0.0  ...          346.0        65.00       11
5            5     5               1.0  ...         3703.0        65.43       85
6            6     0               6.0  ...         5721.0        58.55      182
7            7     0               0.0  ...           10.0        53.41        0
8            8     0               0.0  ...          419.0        53.33       11
9            9     0               0.0  ...          255.0        46.03        3
10          10     0               2.0  ...         1051.0        60.32       34
11          11     0               0.0  ...           25.0        42.86        1
13          13     0               6.0  ...         3454.0        75.50      132
14          14     3              11.0  ...         8564.0        81.25      269
17          17     0               0.0  ...           49.0        18.75        2
18          18     0               0.0  ...          212.0          NaN        8
19          19     0               9.0  ...         6065.0          NaN      207
20          20     0               1.0  ...         1142.0        53.99       30
21          21     0               0.0  ...          187.0        70.45        7
22          22     0               0.0  ...           40.0        61.54        0

[20 rows x 28 columns]

In [33]:
df1["Age"].isna().sum()

1

In [34]:
df1["Age"].fillna(df1.Age.median(),inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [35]:
df1.isna().sum()

Unnamed: 0            0
100s                  0
4 Wickets in Inn      0
4s                    0
50s                   0
6s                    0
Age                   0
Balls                 0
Balls Faced           0
Balls_Average       275
Bat_Average         184
Bats(handed)          9
Bowl_Strike_rate    275
Bowling_Best          0
Bowls(handed)        77
Ducks                 0
Economy_Rate          0
Highest Score         0
Innings               0
Maidens               0
Matches               0
Not Outs              0
Opening Batting       0
Overs                 0
Runs                  0
Runs_Conceded         0
Strike Rate         133
Wickets               0
dtype: int64

In [36]:
df1.head(20)

    Unnamed: 0  100s  4 Wickets in Inn  ...  Runs_Conceded  Strike Rate  Wickets
0            0     0               0.0  ...           38.0          NaN        1
1            1     0               0.0  ...          122.0        69.53        4
2            2     0               0.0  ...           86.0        56.22        3
3            3     0               0.0  ...          154.0        98.96        2
4            4     0               0.0  ...          346.0        65.00       11
5            5     5               1.0  ...         3703.0        65.43       85
6            6     0               6.0  ...         5721.0        58.55      182
7            7     0               0.0  ...           10.0        53.41        0
8            8     0               0.0  ...          419.0        53.33       11
9            9     0               0.0  ...          255.0        46.03        3
10          10     0               2.0  ...         1051.0        60.32       34
11          11     0               0.0  ...           25.0        42.86        1
13          13     0               6.0  ...         3454.0        75.50      132
14          14     3              11.0  ...         8564.0        81.25      269
17          17     0               0.0  ...           49.0        18.75        2
18          18     0               0.0  ...          212.0          NaN        8
19          19     0               9.0  ...         6065.0          NaN      207
20          20     0               1.0  ...         1142.0        53.99       30
21          21     0               0.0  ...          187.0        70.45        7
22          22     0               0.0  ...           40.0        61.54        0

[20 rows x 28 columns]

In [37]:
df1.Bat_Average.fillna(0.0,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [38]:
df1.Balls_Average.fillna(0.0,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [39]:
df1.Bowl_Strike_rate.fillna(0.0,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [40]:
df1["Strike Rate"].fillna(0.0,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [41]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1810 entries, 0 to 2490
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1810 non-null   int64
 1   100s              1810 non-null   int64
 2   4 Wickets in Inn  1810 non-null   float64
 3   4s                1810 non-null   int64
 4   50s               1810 non-null   int64
 5   6s                1810 non-null   int64
 6   Age               1810 non-null   float64
 7   Balls             1810 non-null   int64
 8   Balls Faced       1810 non-null   int64
 9   Balls_Average     1810 non-null   float64
 10  Bat_Average       1810 non-null   float64
 11  Bats(handed)      1801 non-null   object
 12  Bowl_Strike_rate  1810 non-null   float64
 13  Bowling_Best      1810 non-null   float64
 14  Bowls(handed)     1733 non-null   object
 15  Ducks             1810 non-null   int64
 16  Economy_Rate      1810 non-null   float64
 17  Highest Score     1810 non-null   int64
 18  Innings           1810 non-null   int64
 19  Maidens           1810 non-null   float64
 20  Matches           1810 non-null   int64
 21  Not Outs          1810 non-null   int64
 22  Opening Batting   1810 non-null   int64
 23  Overs             1810 non-null   float64
 24  Runs              1810 non-null   int64
 25  Runs_Conceded     1810 non-null   float64
 26  Strike Rate       1810 non-null   float64
 27  Wickets           1810 non-null   int64
dtypes: float64(11), int64(15), object(2)
memory usage: 410.1+ KB

In [42]:
df1.isna().sum()

Unnamed: 0           0
100s                 0
4 Wickets in Inn     0
4s                   0
50s                  0
6s                   0
Age                  0
Balls                0
Balls Faced          0
Balls_Average        0
Bat_Average          0
Bats(handed)         9
Bowl_Strike_rate     0
Bowling_Best         0
Bowls(handed)       77
Ducks                0
Economy_Rate         0
Highest Score        0
Innings              0
Maidens              0
Matches              0
Not Outs             0
Opening Batting      0
Overs                0
Runs                 0
Runs_Conceded        0
Strike Rate          0
Wickets              0
dtype: int64

##Data Exploration (Part II)
Here I use get dummies function to convert objects to categorical features

In [43]:
one_hot_data = pd.concat([df1, pd.get_dummies(df1['Bats(handed)'], prefix='Batting hand')], axis=1)
one_hot_data = one_hot_data.drop('Bats(handed)', axis=1)
one_hot_data

      Unnamed: 0  100s  ...  Batting hand_Left Handed  Batting hand_Right Handed
0              0     0  ...                         0                          1
1              1     0  ...                         0                          1
2              2     0  ...                         0                          1
3              3     0  ...                         0                          1
4              4     0  ...                         0                          1
...          ...   ...  ...                       ...                        ...
2483        2483     0  ...                         0                          1
2485        2485     0  ...                         0                          1
2487        2487     0  ...                         1                          0
2489        2489     0  ...                         0                          1
2490        2490     0  ...                         0                          1

[1810 rows x 29 columns]

In [44]:
one_hot_data2 = pd.concat([one_hot_data, pd.get_dummies(df1['Bowls(handed)'], prefix='Bowling hand')], axis=1)
one_hot_data2 = one_hot_data2.drop('Bowls(handed)', axis=1)
one_hot_data2

      Unnamed: 0  ...  Bowling hand_Right Arm Off Break/Right Arm Medium
0              0  ...                                                  0
1              1  ...                                                  0
2              2  ...                                                  0
3              3  ...                                                  0
4              4  ...                                                  0
...          ...  ...                                                ...
2483        2483  ...                                                  0
2485        2485  ...                                                  0
2487        2487  ...                                                  0
2489        2489  ...                                                  0
2490        2490  ...                                                  0

[1810 rows x 43 columns]

In [45]:
one_hot_data2["Age"].max()

86.0

In [46]:
#Now I'll use MinMaxScaler on the data
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(one_hot_data2)
new_data=scaler.transform(one_hot_data2)
processed_data=pd.DataFrame(new_data,columns=one_hot_data2.columns)
processed_data

      Unnamed: 0  ...  Bowling hand_Right Arm Off Break/Right Arm Medium
0       0.000000  ...                                                0.0
1       0.000402  ...                                                0.0
2       0.000803  ...                                                0.0
3       0.001205  ...                                                0.0
4       0.001606  ...                                                0.0
...          ...  ...                                                ...
1805    0.997189  ...                                                0.0
1806    0.997992  ...                                                0.0
1807    0.998795  ...                                                0.0
1808    0.999598  ...                                                0.0
1809    1.000000  ...                                                0.0

[1810 rows x 43 columns]

In [47]:
processed_data["Age"]

0       0.741176
1       0.541176
2       0.647059
3       0.317647
4       0.552941
          ...
1805    0.364706
1806    0.411765
1807    0.458824
1808    0.458824
1809    0.458824
Name: Age, Length: 1810, dtype: float64

In [0]:
processed_data["Age"]=(processed_data["Age"]*85)+1

In [49]:
processed_data

      Unnamed: 0  ...  Bowling hand_Right Arm Off Break/Right Arm Medium
0       0.000000  ...                                                0.0
1       0.000402  ...                                                0.0
2       0.000803  ...                                                0.0
3       0.001205  ...                                                0.0
4       0.001606  ...                                                0.0
...          ...  ...                                                ...
1805    0.997189  ...                                                0.0
1806    0.997992  ...                                                0.0
1807    0.998795  ...                                                0.0
1808    0.999598  ...                                                0.0
1809    1.000000  ...                                                0.0

[1810 rows x 43 columns]

In [0]:
from sklearn.model_selection import train_test_split
X=processed_data.drop("Age",axis=1)
y=processed_data["Age"]
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [70]:
X_test.shape

(362, 42)

In [0]:
import xgboost as xgb
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import Lasso,Lars,SGDRegressor
from sklearn.svm import SVR,LinearSVR
from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
# Put models in a dictionary
models = {"Lasso": Lasso(),
          "LARS": Lars(), 
          "SGD": SGDRegressor(), "XGB": xgb.XGBRegressor(), "K Neighbours":KNeighborsRegressor(), "Gradient Boosting":GradientBoostingRegressor(),"SVC":SVR(), "Linear SVC":LinearSVR()}



# Create function to fit and score models
def fit_and_score(models, X_train, X_test, y_train, y_test):

    
    np.random.seed(42)
    
    model_scores = {}
    
    for name, model in models.items():
        
        model.fit(X_train, y_train)
        
        model_scores[name] = model.score(X_test, y_test)*100
    return model_scores

In [72]:
model_scores = fit_and_score(models=models,
                             X_train=X_train,
                             X_test=X_test,
                             y_train=y_train,
                             y_test=y_test)
model_scores

[15:51:07] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

{'Gradient Boosting': 22.487349996558027,
 'K Neighbours': -11.35363484815539,
 'LARS': 18.923189465586187,
 'Lasso': -0.006104134956852469,
 'Linear SVC': -1.7658390458452855,
 'SGD': 9.788547157458149,
 'SVC': 1.4295899180988947,
 'XGB': 22.502520510475065}